<div class='row'>
  <div class="well span8">
    <em>"<%= comment.content %>"</em>
      <span class='quiet'>posted by </span> <%= comment.user.email %>
      <small>at <%= fix_date_time(comment.created_at) %></small><br>
      <div class="comment-options">
        <small><%= link_to "Delete Comment", post_comment_path(comment.post, comment), data: {confirm: "Are you sure?", method: "delete"} %></small>
      </div>
  </div>
</div>
